*{
    margin:0;
    padding:0;
}
body{
    background: antiquewhite;
}
.main{
    position : fixed;
    right:0;
    left:0;
    top:0;
    bottom : 0;
}

.stopPropagationDiv{
    width: 200px;
    height: 200px;
    position : absolute;
    right: 30px;
    background: sandybrown;

}
.hide{
    display: none ;
}
